*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  color: #1a1a1a;
  background-color: #f5f5f5;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
